.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
  }

table {
  width: auto;
  table-layout: auto;          /* Table takes up full width */
  overflow: auto;      /* Horizontal scroll when needed */
  display: block;        /* Allows for scrolling */
}
thead, tbody {
  display: table;        /* Set these to display as table */
}

td, th {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
  min-width: 120px;      /* Minimum width for columns, adjust as necessary */
}

tbody {
  display: block;        /* This makes it scrollable */
  overflow-x: auto;      /* Horizontal scrolling for the content */
}

/*thead {
  width: 100%;            Full width for header 
} */
