{% extends "base_generic.html" %}
{% load static %}
{% block content %}
  <h1>Components table</h1>
  <form action="" method="get">
    {% csrf_token %}
    <!-- {{ form }} -->
    <div class="default-form">
        <label for="defaultid">
        <input class="form-check-input" type="checkbox" value="default" id = "defaultid" name="defaultform", onclick=onlyOne(this) checked>
        Default</label>
        <label for="allid">
        <input class="form-check-input" type="checkbox" value="all" id = "allid" name="defaultform", onclick=onlyOne(this)>
       All columns</label>
    </div>
    <a id="toggleButton" onclick="toggleColumns(); return false" href="#">Show all columns</a>
    <div class="form-columns" id = "form-columns-id">  
    {% for option in options %}
        <div class="form-check">
            <label for={{option.0}}>
            <input class="form-check-input" type="checkbox" value={{option.1}} id={{option.0}} name="fieldsformcomp" {% if option.1 in savedfields %}checked{% endif %}>
            <div class="form-label" id={{option.1}}> {{option.1}} <span id={{option.2}} class=labelpopup style="display: none">text </span> </div></label>
        </div>
    {% endfor %}
    </div>
   <!-- <input type="submit" value="Submit"> -->
</form>
<button id="downloadbutton"><a>Download csv table</a></button>
<!--
<button>
    <a class="nav-link" id="downloadbutton" href="{% url 'export_csv_comp' %}?{%for selected_field in savedfields%}fieldsformcomp={{selected_field}}&{%endfor%}">Download csv table</a>
</button>
 <table> 
    {% for row in table %}
        <tr>
        {% for cell in row %}
            {% if forloop.parentloop.first %} <th> {% else %} <td> {% endif %}
                {{ cell }}
            {% if forloop.parentloop.first %} </th> {% else %} </td> {% endif %}
        {% endfor %}
        </tr>
    {% endfor %}
</table>-->
<div id="table-container">
    {% include 'catalog/table_partial.html' with table=table %}
</div>

<script type="text/javascript" src="https://aladin.cds.unistra.fr/AladinLite/api/v3/latest/aladin.js" charset="utf-8"></script>

<script>
    function onlyOne(checkbox) {
        var checkboxes = document.getElementsByName(checkbox.name)
        checkboxes.forEach((item) => {
            if (item !== checkbox) item.checked = false
            else if(item.checked == true){
                updateTableDefault(item.value);
            }
        })
        function updateTableDefault(value) {
            const tableContainer = document.getElementById('table-container');
            const xhr = new XMLHttpRequest();
            xhr.open('GET', `{% url 'components' %}?defaultform=${value}`, true);
            xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest2');
    
            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                    tableContainer.innerHTML = xhr.responseText;
                    const fieldboxes = document.querySelectorAll('input[name="fieldsformcomp"]');
                    let fields = JSON.parse(document.getElementById('fields_json').textContent);
                    fieldboxes.forEach((item) => {
                        if(containsObject(item.value, fields)){
                            item.checked = true
                        }
                        else{
                            item.checked = false
                        }
                    })
                    const startTime = performance.now()
                    let tableData = JSON.parse(document.getElementById('table_json').textContent);
                    renderTable(tableData);
                    const endTime = performance.now()
                    console.log(`Call took ${endTime - startTime} milliseconds`)
                }
            };
    
            xhr.send();
        }
        function containsObject(obj, list) {
            var i;
            for (i = 0; i < list.length; i++) {
                if (list[i] === obj) {
                    return true;
                }
            }
        
            return false;
        }
    }

    document.addEventListener('DOMContentLoaded', function () {
        const checkboxes = document.querySelectorAll('input[name="fieldsformcomp"]');
        const tableContainer = document.getElementById('table-container');
        const downloader = document.getElementById("downloadbutton");
        const aladinlist = document.getElementsByClassName('aladinlink');
        // Convert HTMLCollection to an array
        const aladinArray = Array.from(aladinlist);

        checkboxes.forEach(checkbox => {
            checkbox.addEventListener('change', function () {
                updateTable();
            });
        });

        aladinArray.forEach(link => {
            link.addEventListener('click', function () {
                var index = Number(link.id.substring(1));
                showAladin(index);
            });
        });
        
        downloader.addEventListener('click', function(event){
            event.preventDefault(); // Prevent default anchor action

            // Fetch saved fields dynamically (assumes it's available globally)
            let savedFields = JSON.parse(document.getElementById('fields_json').textContent);

            if (savedFields.length === 0) {
                alert("No fields selected to download.");
                return;
            }

            // Build the URL with query parameters
            let baseUrl = "{% url 'export_csv_comp' %}";
            let queryParams = savedFields.map(field => `fieldsformcomp=${encodeURIComponent(field)}`).join('&');

            // Create final URL and trigger the download
            let finalUrl = `${baseUrl}?${queryParams}`;
            window.location.href = finalUrl;
        });
    
        
        const labelArray = document.querySelectorAll('.form-label');
    
        labelArray.forEach(label => {
            const textareaId = label.querySelector('span').id;
            get_help_text(label.id, textareaId);
    
            label.addEventListener('mouseover', function () {
                const popup = document.getElementById(textareaId);
                popup.style.display = 'block';
            });
    
            label.addEventListener('mouseout', function () {
                const popup = document.getElementById(textareaId);
                popup.style.display = 'none';
            });
        });

        function showAladin(index){
            var table = JSON.parse(document.getElementById('table_json').textContent);
            var name = table[index][0];
            var ra = table[index][13];
            var dec = table[index][14];
            var loc = ra + " " + dec;
            var typelens = table[index][1]
            //var aladin_id = `aladin${index}`;
            //document.getElementById(aladin_id).style = "width:400px;height:400px;";
            var max_sep = table[index][9];
            if(max_sep == 0){
                max_sep = 5.0
            }
            fov_value = (1.0/3600.)*max_sep*2.
            console.log(fov_value, loc);
            var myWindow = window.open('','','width=550,height=600');
            var doc = myWindow.document;
            // Assign variables to window object
            myWindow.aladinData = {
                name: table[index][0],
                ra: table[index][1],
                dec: table[index][2],
                type: typelens,
                loc: ra + " " + dec,
                fovValue: (1.0 / 3600) * max_sep * 7.5
            };
            doc.open();
            doc.write(`
                <html>
                <head>
                    <title>Aladin</title>
                    <style>
                        body {
                            height: 100vh;
                            margin: 0;
                    </style>
                </head>
                <body>
                    <div id="text" style="text-align: center;"></div>
                    <div style="flex-grow: 1; display: flex; justify-content: center; align-items: center; width: 100%;">
                        <div id="aladin-lite-div" style="width: 500px; height: 500px;"></div>
                    </div>
                </body>
                </html>
            `);
            var aladinlibrary = doc.createElement('script');
            aladinlibrary.src = 'https://aladin.cds.unistra.fr/AladinLite/api/v3/latest/aladin.js'
            aladinlibrary.charset = "utf-8"
            doc.head.appendChild(aladinlibrary);
            var script = doc.createElement('script');
            script.src = '{% static "aladin.js" %}';
            aladinlibrary.onload = function() {
                doc.head.appendChild(script);
            };
            doc.close();
        }
    
        function updateTable() {
            const selectedFields = Array.from(checkboxes)
                .filter(checkbox => checkbox.checked)
                .map(checkbox => checkbox.value);
    
            const xhr = new XMLHttpRequest();
            xhr.open('GET', `{% url 'components' %}?fieldsformcomp=${selectedFields.join('&fieldsformcomp=')}`, true);
            xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
    
            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                    tableContainer.innerHTML = xhr.responseText;
                    const startTime = performance.now()
                    const defaultboxes = document.querySelectorAll('input[name="defaultform"]');
                    let defaultlist = JSON.parse(document.getElementById('default_json').textContent);
                    if(defaultlist.length > 0){
                        defaultboxes.forEach((item) => {
                            if(item.value == defaultlist[0]){
                                item.checked = true
                            }
                            else{
                                item.checked = false
                            }
                        })
                    }
                    else{
                        defaultboxes.forEach((item) => {
                            item.checked = false
                            }
                        )
                    }
                    let tableData = JSON.parse(document.getElementById('table_json').textContent);
                    renderTable(tableData);
                    const endTime = performance.now()
                    console.log(`Call to doSomething took ${endTime - startTime} milliseconds`)
                }
            };
    
            xhr.send();
        }
    });

    
    function renderTable(tableData) {
        let fragment = document.createDocumentFragment();
        let table = document.createElement('table');
        let helpBaseUrl = "{% url 'help' %}";
    
        tableData.forEach((rowData, rowIndex) => {
            let row = document.createElement('tr');
    
            rowData.forEach((cellData, colIndex) => {
                let cell;
                if (rowIndex === 0) {
                    cell = document.createElement('th');
                    cell.innerHTML = `<a href="${helpBaseUrl}#${cellData}">${cellData}</a>`;
                } else {
                    cell = document.createElement('td');
                    if (colIndex === 0) {
                        cell.innerHTML = `<a class="aladinlink" id="a${rowIndex}" data-index="${rowIndex}" href="#">${cellData}</a>`;
                    } else {
                        cell.textContent = cellData;
                    }
                }
                row.appendChild(cell);
            });
    
            table.appendChild(row);
        });
    
        fragment.appendChild(table);
    
        const container = document.getElementById('partial-table-container');
        container.innerHTML = ''; // Clear previous content
        container.appendChild(fragment);
    }
    
    // Event delegation to handle all future clicks on aladin links
    document.getElementById('partial-table-container').addEventListener('click', function (event) {
        if (event.target.classList.contains('aladinlink')) {
            //event.preventDefault();
            const index = event.target.dataset.index;
            showAladin(index);
        }
    });

    /*function renderTable(tableData) {
        let html = '<table>';
        let helpBaseUrl = "{% url 'help' %}"; // Get the base URL for the help page from Django

        for(var i = 0; i < tableData.length; i++) {
            html += '<tr>';
            if(i === 0){
                for(var j = 0; j< tableData[0].length; j++){
                    html += `<th id="header${j}" class="table-header"><a href="${helpBaseUrl}#${tableData[i][j]}">${tableData[i][j]}</a></th>`;
                };
            }
            else{
                for(var j = 0; j< tableData[0].length; j++){
                    if(j === 0){
                        html += `<td><a class=aladinlink id="a${i}" onclick="return false;" href="#">${tableData[i][j]}</a></td>`
                    }
                    else{
                        html += `<td>${tableData[i][j]}</td>`;
                    }
                }
            }
            html += '</tr>';
        }
        html += '</table>'
        document.getElementById('partial-table-container').innerHTML = html;
    }*/
    let firstTableData = JSON.parse(document.getElementById('table_json').textContent);
    renderTable(firstTableData);

    var status = "less";

    function toggleColumns()
    {
        //var html=document.getElementById("form-columns").innerHTML;
        if (status == "less") {
            console.log(status)
            document.getElementById("form-columns-id").style.display="flex";
            document.getElementById("toggleButton").innerText = "Hide columns";
            status = "more";
        } else if (status == "more") {
            console.log(status)
            document.getElementById("form-columns-id").style.display="none";
            document.getElementById("toggleButton").innerText = "Show all columns";
            status = "less"
        }
    }

    function get_help_text(field, id){
        const url = '{% static "text.json" %}'
        fetch(url)
        .then((response) => {
            if (!response.ok) {
              throw new Error(`HTTP error: ${response.status}`);
            }
            return response.json();
          })
          .then((json) => help_text(field, json[field], id))
          .catch((err) => console.error(`Fetch problem: ${err.message}`));
    }
    function help_text(field, text, id){
        let helpBaseUrl = "{% url 'help' %}";
        let html = `<a href="${helpBaseUrl}#${field}">`
        html += field + `</a>` + ": " + text
        document.getElementById(id).innerHTML = html
    }
</script>
{% endblock %}